header {
  background-color: hsl(0, 100%, 100%);
  padding: 16px 32px;
  border-bottom: 1px solid hsl(0, 0%, 90%);
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  color: hsl(200, 15%, 8%);
  margin: 0;
  text-align: left;
}

